pandas==2.2.2
numpy==1.26.4
streamlit==1.37.1
plotly==5.23.0
pickle
re
streamlit_chat
langchain==0.2.14
langchain_community==0.2.12
document_loaders
embeddings==0.0.8
vectorstores
llms
chains
CTransformers
PyPDF2
dotenv
os
yfinance
requests
graph_objects
